version: 2

defaults: &defaults
  working_directory: ~/gisida-react
    docker:
      - image: circleci/node:8.15.1

jobs:
  test:
    <<: *defaults  
    steps:
      - checkout

      - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "package.json" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

      - run:
          name: Install dependencies
          command: yarn install
      - run:
          name: Run tests
          command: yarn test

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/gisida-react
          paths: .
  publish:
    <<: *defaults  
    steps:
      - attach_workspace:
          at: ~/gisida-react
      - run:
          name: Authenticate with registry
          command:  echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> ~/gisida-react/.npmrc
      - run:
          name: Build package
          command: yarn build
      - run:
          name: Publish package
          command: npm publish
workflows:
  version: 2
  tagged-test:
    jobs:
      - test
      - publish:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
