.legend {
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 300px;
  background-color: #f7f6ef;
  z-index: 1000;
  color: #555;
  font-size: 11px;
  line-height: 1.2;
}


.legend[data-visible="false"] {
    display: none;
  }

.legend .legend-row {
  padding: 15px;
  position: relative;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2) 
}

legend-row b {
    display: inline-block;
    padding-right: 14px;
  }

legend-row > span {
  padding-right: 30px;
  display: inline-block;
}